* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.title {
    font-size: 2rem;
    padding: 20px;
}

.navigation {
    background-color: royalblue;
    padding: 20px;
    color: white;
}

.navigation li {
    margin: 10px;
}

.navigation a {
    color: inherit;
}